<!DOCTYPE html>
<html>
  <head>
    <title>Postgre</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>POSTGRE</h1>
    <p>Welcome to CRUD</p>
    <a href="/data"> go to data </a>
  </body>
</html>
